<!DOCTYPE html>
<html lang="lt-LT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title | default: site.title | default: "dago / ideas" }}</title>
        <link rel="icon" href="/assets/img/dago-icon.png" type="image/png" />

        {% inlineBundleCss %}
    </head>

    <body>
        <main id="content">
            {{ content }}
        </main>
        
        <footer id="colophon">
            <a href="https://notbyai.fyi" target="_blank" rel="noopener">
                <img src="/assets/img/notbyai.png" 
                     srcset="/assets/img/notbyai.png 1x, /assets/img/notbyai@2x.png 2x" 
                     alt="Not by AI">
            </a>
        </footer>
    </body>
</html>