$black: #222;
$theme: #FFBF00;

:root {
  --xs: 0.25em;
  --sm: 0.5em;
  --smmd: 0.75em;
  --md: 1em;
  --lg: 1.5em;
  --xl: 2em;
  --2xl: 3em;
  --3xl: 4em;
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}